[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
faiss-cpu = "*"
sentence-transformers = "*"
langchain-ollama = "*"
langchain-core = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.13"
